body 
{
	background-image:url(img/background_image.jpg);
	text-align: justify;

	   width: 760px;
	   margin: auto;
	   margin-top: 20px;
	   margin-bottom: 20px;   	
} 

#header
{
   width: 760px;
   height: 100px;
   background-image: url("images/banniere.png");
   background-repeat: no-repeat;
   margin-bottom: 10px;
}

#menu
{
   float: left; /* Le menu flottera à gauche */
   width: 120px; /* Très important : donner une taille au menu */
}