p
{
  font-family:"Tahoma","Times New Roman", Times, serif;
}

body 
{
	text-align: justify;
	width: 100%;
	min-width: 981px;
	margin: auto;
	margin-bottom: 20px;
} 

#header
{
   height: 60px;
   margin-bottom: 10px;
   background: #3B5998;
   color:#ffffff;
   overflow: auto;
}

#logo 
{
 text-align:left;
 font-size: 40px;
 margin-left:10px;
 line-height:60px;
 font-family:cursive,Times;
}

#header input 
{
  line-height:20px;
}

#menu
{
  font-family:"Tahoma","Times New Roman", Times, serif;
   float: left; 
   width: 230px; 
   padding-left: 5px;
}


#connection
{
   float :right;
   width: 400px; 
   top: 1em;
   right: 2em;
   line-height: 60px;
}


#pub
{
	float:right;
	width: 120px;
}

#contenu
{
  clear:both;
	text-align: center;
}

#inscriptionForm {
  width :1000px;
}

#inscriptionForm input {
  margin-left:140px;
  line-height:16px;
}
#inscriptionForm select {
  margin-left:140px;
}

#inscriptionForm #mois, #inscriptionForm #annee {
  margin-left:0;
}
#inscriptionForm label {
  line-height:30px;
  position:absolute;
  text-align:left;
  width:130px;
}

#inscriptionForm label.error {
  width:auto;
}

#inscriptionDiv
{
  border-left:1px solid #B3B3B3;
  margin-left:150px;
  padding-left:30px;
}

ul 
{
  list-style:none;
  padding-left:0px;
}
