body 
{
	background-image:url(img/background_image.jpg);
	text-align: justify;


	   width: 1024px;
	   margin: auto;
	   margin-top: 20px;
	   margin-bottom: 20px;
} 

#header
{
   width: 800px;
   height: 100px;
   background-image: url("img/banniere.png");
   background-repeat: no-repeat;
   margin-bottom: 10px;
   text-align : center;   	
}

#menu
{
   float: left; 
   width: 230px; 
}


#connection
{
   position : absolute;
   width: 100px; 
   height: 100px;
   top: 1em;
   right: 1em;
}


#pub
{
	float:right;
	width: 120px;
}

#contenu
{
	text-align: center;
}

#inscriptionForm {
  width :1000px;
}

#inscriptionForm input {
  margin-left:140px;
  line-height:16px;
}
#inscriptionForm select {
  margin-left:140px;
}

#inscriptionForm #mois, #inscriptionForm #annee {
  margin-left:0;
}
#inscriptionForm label {
  line-height:30px;
  position:absolute;
  text-align:left;
  width:130px;
}

#inscriptionForm label.error {
  width:auto;
}
#inscriptionForm  {
  height:30px;
}
