p
{
  font-family:"Tahoma","Times New Roman", Times, serif;
}

body 
{
	text-align: justify;
	width: 100%;
	min-width: 981px;
	margin: auto;
	margin-bottom: 20px;
} 

#header
{
  margin: 0 auto;
  vertical-align:center;
  width: 1024px;
  height: 60px;
  margin-bottom: 10px;
  background: #3B5998;
  color:#ffffff;
  overflow: auto;
  min-width:700px;
}

#main {
  margin:0 auto;
  width:1024px;
  min-height:600px;
}

#footer {
  text-align: center;
  text-decoration: italic;
  font-size:9px;
}

#logo 
{
 text-align:left;
 font-size: 40px;
 margin-left:10px;
 line-height:60px;
 font-family:cursive,Times;
 color:white;
 text-decoration:none;
 
}

#header input 
{
  line-height:20px;
  width:90px;
}

#header a 
{
  text-decoration:none;
}

#menu
{
  font-family:"Tahoma","Times New Roman", Times, serif;
  float: left; 
  width: 200px; 
  padding-left: 5px;
}

#pub 
{
  padding-left:30px;
}

#connection
{
  float :right;
  width: 300px; 
  top: 1em;
  right: 2em;
  line-height: 60px;
}

#contenu
{
	width:550px;
	float:left;
	border-left:1px solid #B3B3B3;
  border-right:1px solid #B3B3B3;
  padding-right:30px;
  padding-left:30px;
  min-height:600px;
  text-indent: justify;
}

#inscriptionForm {
  width:500px;
}

#inscriptionForm input {
  margin-left:140px;
  line-height:16px;
}
#inscriptionForm select {
  margin-left:140px;
}

#inscriptionForm #mois, #inscriptionForm #annee {
  margin-left:0;
}
#inscriptionForm label {
  line-height:30px;
  position:absolute;
  text-align:left;
  width:130px;
}

#inscriptionForm label.error {
  width:auto;
}

ul 
{
  list-style:none;
  padding-left:0px;
}

#droite 
{
  float:right;
  clear:right;
  width:180px;
}

input[type="submit"]
{
  width: 95px;
  height: 27px;
  background: #627AAD;
  border: 0;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  color: white;
  font-size: 10px;
  font-weight: bold;
  padding-bottom: 2px;
  cursor: pointer;
  border-color:#29447E #29447E #1A356E;
}

#creerCompte
{
  line-height: 10px;
  margin-top: -13px;
  font-size: 11px;
  margin-left: 100px;
}

#creerCompte a 
{
  color:#98A9CA;
}

#inscriptionForm #viderForm
{
  margin-left:5px;
}

#inscriptionForm input[type="submit"]
{
  margin-top:20px;
}

#inscriptionForm label.error
{
  font-size:9px;
  color:red;  
  margin-left:10px;
}

#inscriptionForm label[for='condition'].error
{
  margin-top:8px;
}