body {
  background-color:white;
  background-image:none;
}

#header {
  background-color:white; 
}

#connection {
 color:black; 
}

#connection a{
 color:black; 
}

#logo {
 color:black;
}

#footer {
  color:black;
}